<div class="row">
  <div class="col-5">
    <h4>{{@info.title}}</h4>
    <img class="w-100" src={{@info.coverUrl}} alt="" />
  </div>

  <div class="col-7">
    <ul class="list-group list-group-flush">
      {{#each @songs as |song|}}
        <Song @song={{song}} />
      {{/each}}
    </ul>
  </div>
</div>
