<div class="row">
  <audio
      id="player"
      controls
      autoplay
      src={{this.song.mp3Url}}>
  </audio>
</div>
<div class="row">
  <p class="text-center">
    {{#if this.song}}
      {{this.song.title}} / {{this.song.album.title}}
    {{/if}}
  </p>
</div>
